@import url(//db.onlinewebfonts.com/c/d02befc8fdd8e5315fb21fa7f38fd55a?family=Shree+Devanagari+714);
@font-face {
  font-family: "Shree Devanagari 714";
  src: url("//db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.eot");
  src: url("//db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/d02befc8fdd8e5315fb21fa7f38fd55a.svg#Shree Devanagari 714")
      format("svg");
}
body,
html {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgb(35, 64, 89), rgb(0, 0, 0));
  width: 100%;
  color: white;
  font-family: damascus;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
#nav-img {
  margin-left: 3%;
}
header img {
  width: 15%;
}

header .header-nav {
  display: flex;
  justify-content: space-around;
  color: white;
  width: 35%;
  margin-right: 3%;
}
header .header-nav-bar {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.main-description {
  display: flex;
}
section.main {
  width: 100%;
  margin-top: 5%;
  margin: h;
}
.main-header {
  margin: auto 4%;
}
.main-header h1 {
  font-size: 18px;
}
.main-description img {
  width: 4%;
}
.main-aerospace {
  margin-left: 2%;
}
.main-aerospace h3 {
  margin: 0;
  padding: 0px 0 10px;
}
.main-aerospace p {
  margin: 0%;
}

.main-input-button {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: end;
}

.main-input-button input[type="text"] {
  width: 30%;
  padding: 0.3%;
  border: 4px solid white;
  background-color: rgba(255, 255, 255, 0%);
}

.main-input-button button {
  background-color: rgba(255, 255, 255, 0%);
  border: 0;
  font-size: 17px;
  color: white;
}

.main-header hr {
  border: 1.5px solid;
  margin: 5% auto;
}
.patents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-left: 1%;
}
.patent-box {
  width: 90%;
  position: relative;
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 7%;
  /* text-align: center; */
}
.patent-box img {
  width: 92%;
  margin: 4%;
}
.patent-box h3 {
  margin: 0% 0% 0% 3%;
}
.patent-box p {
  margin: 5% 0 5% 3%;
  font-size: 14px;
}
.patent-box-btn button {
  width: 47%;
  border: 0;
  height: 40px;
  border-radius: 10px;
  color: white;
}
.patent-box-btn {
  width: 100%;
  margin: 7% 2%;
}

#read-more {
  background-color: #f15a29;
}
#wish-list {
  background-color: #117ec4;
}
.footer-bar {
  width: 100%;
  text-align: center;
}
.footer-bar button {
  width: 20%;
  height: 55px;
  font-size: 18px;
  background-color: #0066b3;
  border: 0;
  border-radius: 10px;
  color: white;
  margin: 5%;
}
.footer-bar p {
  word-spacing: 5px;
}
.footer-right {
  text-align: center;
  margin-bottom: 11%;
  margin-top: 2%;
}

/******Sign Up******/

.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.popup .popup-inner {
  background-color: white;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 3;
  left: 35%;
  width: 30%;
  top: 15%;
}

.popup .popup-inner h2 {
  position: relative;
  color: black;
  top: 5%;
}
.popup .popup-input {
  display: block;
  top: 8%;
  position: relative;
}

.popup input {
  width: 70%;
  height: 4vh;
  background-color: rgba(0, 0, 0, 0);
  border: 1;
  border: 1px solid black;
  border-radius: 10px;
}
.popup-input p {
  color: black;
}
.popup .popup-input button {
  width: 73%;
  background-color: black;
  color: white;
  font-size: larger;
  border: 0;
  height: 40px;
  border-radius: 10px;
}

/*************************************
**************************************
********** Meadia Screen **************
**************************************
**************************************/

@media screen and (max-width: 950px) {
  header .header-nav {
    display: flex;
    justify-content: space-around;
    color: white;
    width: 50%;
  }
  header .header-nav-bar {
    width: 85%;
  }
  header img {
    width: 25%;
  }
  .patents {
    grid-template-columns: repeat(2, 1fr);
  }
  .popup .popup-inner {
    left: 25%;
    width: 50%;
    }
}

@media screen and (max-width: 550px) {
  #nav-img {
    margin-left: 4%;
    width: 25%;
    height: 25px;
  }
  header img {
    width: 25%;
    height: 25px;
  }
  .header-nav-bar p {
    margin: 0%;
    font-size: 10px;
  }
  .main-header h1 {
    font-size: 13px;
  }
  .main-description img {
    width: 9%;
    height: 45px;
  }
  .main-aerospace h3 {
    font-size: 15px;
    padding: 0;
  }
  .main-aerospace p {
    font-size: 10px;
  }
  .main-input-button input[type="text"] {
    width: 40%;
    padding: 0.3%;
    border: 2px solid white;
  }
  .patents {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 4%;
  }
  .footer-bar button {
    width: 50%;
  }
  .footer-bar p {
    word-spacing: 0px;
  }
  .popup .popup-inner {
    left: 20%;
    width: 60%;
    }
}
